html {
    background-image: url("background.svg");
    background-position: center bottom;
    background-repeat: repeat-x;
    min-height: 100%;
    background-size: cover;
    background-color: #013c78;
}
