#id {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#id-link {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);
    padding: 35px 32px;
    width: 100%;
    max-width: 385px;
}

.title {
    font-weight: 550;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.redirect {
    color: gray;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
