body, html {
    height: 100%;
    background-color: #f8f8ff;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

h1 {
    font-weight: 550;
    font-size: 26px;
}

#form {
    background-color: white;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    border-radius: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);

    padding: 42px;
    width: max(30%, 385px);
    max-width: 300px;
    height: 400px;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#profile-title {
    margin: 0;
    margin-top: 2px;
    text-transform: uppercase;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #0a59a8;
}

.form-btn {
    width: 100%;
    line-height: 3em;
    border-radius: 20px;
    display: block;

    color: white;

    background-color: #0965c1;

    font-weight: 600;
    font-size: 14px;

    border: 0px;
    margin-top: 20px;

    text-decoration-line: none;
}

#name-container {
    display: flex;
    align-content: center;

    align-items: center;
    justify-content: start;

    width: 100%;
    margin-bottom: 40px;
    gap: 20px;
}

.label-title {
    display: flex;
    text-align: left;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 10px;

    font-size: 20px;
}

.label {
    display: flex;
    text-align: left;
    font-weight: 200;
    margin-left: 5px;

    font-size: 16px;
}

.avatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 9999px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: #4b5563;
    text-transform: uppercase;
}
