body, html {
    height: 100%;
    background-color: #f8f8ff;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

h1 {
    font-weight: 550;
    font-size: 26px;
}

hr {
  display: block;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border: none;

  height: 2px;
  width: 90%;

  background-color: #D3D3D3;
}

#form {
    background-color: white;

    margin-left: auto;
    margin-right: auto;

    border-radius: 8px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);

    padding: 42px;
    width: max(30%, 385px);
    max-width: 300px;

    position: relative;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#close-cross:hover {
    cursor: pointer;
}

#close-cross {
    position: absolute;
    font-size: 22px;
    font-weight: 200;
    right: 18px;
    top: 10px;
}

#username {
    font-size: 26px;
    font-weight: 600;
}

#email {
    color: #0965c1;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #0a59a8;
}

.form-btn {
    width: 100%;
    line-height: 3em;
    border-radius: 20px;
    display: block;

    color: white;

    background-color: #0965c1;

    font-weight: 600;
    font-size: 14px;

    border: 0px;
    margin-top: 20px;

    text-decoration-line: none;
    text-align: center;
}

#name-container {
    display: flex;
    align-content: center;

    align-items: center;
    justify-content: start;

    width: 100%;
    margin-bottom: 40px;
    gap: 20px;
}

.label-title {
    display: flex;
    text-align: left;
    font-weight: 600;

    font-size: 18px;
    text-transform: capitalize;
}

.label {
    display: flex;
    text-align: left;
    font-weight: 450;
    color: gray;

    font-size: 16px;
}
