* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 30px 20px;
    box-sizing: border-box;
}

h1 {
    font-weight: 550;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

#subtitle {
    margin-top: 0px;
    margin-bottom: 10%;
}

.container {
    background-color: #ffffff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    padding: 28px 32px;
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    text-align: left;
    border-radius: 5px;
}

.time-choice {
    margin-bottom: 8px;
}

label, legend {
    font-size: 0.95em;
    color: #555;
    margin-bottom: 6px;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 1em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 14px;
}

select:focus {
    border-color: #0073b1;
    box-shadow: 0 0 0 2px rgba(0, 115, 177, 0.2);
}

fieldset {
    margin-bottom: 16px;
}

button#avanti {
    width: 100%;
    background-color: #0965c1;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 7%; 
    border-radius: 25px;
}

button#avanti:hover {
    background-color: #0a59a8;
}

.assistenza {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.assistenza a {
    color: #0073b1;
    text-decoration: none;
}

.assistenza a:hover {
    text-decoration: underline;
}
#homepage-container {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

#homepage-container a {
    color: #0965c1;
    text-decoration: none;
    font-weight: 500;
}

#homepage-container a:hover {
    text-decoration: underline;
}





