* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
}

h1 {
    font-weight: 550;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: left;
}

#subtitle {
    margin-top: 0px;
    margin-bottom: 10%;
}

main#card-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.container {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);
    padding: 42px;
    width: 469px;
    box-sizing: border-box;
    border-radius: 5px;
    top: 45px;
    position: relative;
}

p.time-choice {
    margin-bottom: 8px;
    margin-top: 0;
}

label, legend {
    font-size: 0.95em;
    margin-bottom: 6px;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
}

select:focus {
    border-color: #0073b1;
    box-shadow: 0 0 0 2px rgba(0, 115, 177, 0.2);
}

fieldset {
    margin-bottom: 16px;
     border : none ;
    padding : 0;
}

button#next {
    width: 100%;
    background-color: #0965c1;
    color: white;
    border: none;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
}

button#next:hover {
    background-color: #0a59a8;
}

.support {
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 0.9em;
    color: #555;
    text-align: center;
}

.support a {
    color: #0073b1;
    text-decoration: none;
}

.support a:hover {
    text-decoration: underline;
}
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
}

input[type="number"]:focus {
    border-color: #0073b1;
    box-shadow: 0 0 0 2px rgba(0, 115, 177, 0.2);
}


button#geo-btn.btn {
    width: 100%;
    margin-top: 7%; 
    border: none;
    padding: 14px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 16px; 
    background-color: #5cb85c; 
    color: white; 
    
}

button#geo-btn.btn:hover {

    background-color: #4cae4c;
}




