body, html {
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

h1 {
    font-size: 26px;
    font-weight: 550;
}

#container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    box-sizing: border-box; 
}

#title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

#subtitle {
    margin-top: 0px;
    margin-bottom: 8%;
    text-align: left;
    font-size: 16px;
    font-weight: 350;
}

#group-creation-form {
    background-color: white;

    width: 420px;
    padding: 42px;

    border-radius: 5px;
    box-shadow: 0px 4px 22px rgba(0,0,0,0.12);
}

#create-btn {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 15px;
}

label[for="private"], [for="public"] {
    font-weight: 400;
}

input[type="text"], input[type="number"], textarea, select {
    width: 100%;
    padding-left: 0.5em;
    margin-bottom: 8px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    font-size: 16px;
    
    height: 36px; 
    line-height: 32px;
    
    font-weight: 350;
    font-family: "Roboto", sans-serif;
    background-color: white;
}

textarea {
    resize: none;
    height: 95px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 6px 0;
}

button {
    width: 100%;
    line-height: 3em;
    border-radius: 20px;

    color: white;

    background-color: #0965c1;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);

    font-weight: 600;
    font-size: 14px;

    border: 0px;
}

button:hover {
    cursor: pointer;
    background-color: #0a59a8;
}


