body, html {
    height: 100%;
    background-color: #f8f8ff;
}

body {
    margin: 0px;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#navbar {
    list-style-type: none;
    width: 100%;
    margin: 2%;

    display: flex;
    justify-content: flex-end;
    gap: 1%;
}

#logo {
    float: left;
    margin: 2%;

    font-size: 1.5em;
    font-weight: 600;

    text-decoration-line: none;
    color: #0965c1;
}

#navbar-container {
    display: flex;
    align-items: center;

    width: 100%;
    height: min(9%, 55px);
    background-color: white;

    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);
}

#upper {
    width: 100%;
    margin: 2.5% 0 0 0;
}

#header {
    font-weight: 700;
    font-size: 34px;
    margin: 0px;
    color: rgb(50 50 50);
    padding-top: 1%;

    text-align: center;
}

#subheader {
    color: gray;
    margin: 1% 8% 1% 8%;

    text-align: center;
}

#search-bar {
    display: flex;
    padding-top: min(5%, 48px);
    width: 100%;
    height: min(10%, 59px);

    justify-content: center;
}

#course-input {
    width: 40%;

    border: 1px solid #0965c1;
    border-radius: 3px;

    font-size: 16px;
    padding-left: 0.5em;

    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search-btn {
    background-color:#0965c1;
    color: white;
    border: 1px solid #0965c1;
    border-radius: 3px;

    height: 100%;
    width: 77px;

    font-size: 16px;

    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar-entry {
    text-decoration-line: none;
    padding: 6px 8px 6px 8px;

    font-size: 14px;

    color: white;
    background-color: #0965c1;
    border: 1px solid #0965c1;
    border-radius: 6px;
}

.login-btn {
    color: #0965c1;
    background-color: white;
    
    border: 1px solid #0965c1;
    border-radius: 6px;
}
