html {
    background-image: url("blob_background.svg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body, html {
    height: 100%;
}

body {
    margin: 0px;
}

hr {
  display: block;
  margin-top: 6em;
  margin-bottom: 6em;
  border: none;

  height: 1px;
  width: min(70%, 1200px);

  background-color: #D3D3D3;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

#upper {
    width: 100%;
    margin: 6% 0 0 0;
}

#header {
    font-weight: 700;
    font-size: 34px;
    margin: 0px;
    color: rgb(50 50 50);
    padding-top: 1%;

    text-align: center;
}

#subheader {
    color: gray;
    margin: 1% 8% 1% 8%;

    text-align: center;
}

#search-bar {
    display: flex;
    padding-top: min(5%, 48px);
    width: 100%;
    height: min(10%, 59px);

    justify-content: center;
}

#course-input {
    width: 40%;
    height: 40px;

    border: 1px solid #0965c1;
    border-radius: 3px;

    font-size: 16px;
    padding-left: 0.5em;

    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#search-btn:hover {
    cursor: pointer;
    background-color: #0a59a8;
}

#search-btn {
    background-color:#0965c1;
    color: white;
    border: 1px solid #0965c1;
    border-radius: 3px;

    height: 100%;
    width: 77px;

    font-size: 16px;

    border-left: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#groups-container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    width: max(60%, 326px); 
    margin: 0 auto;
    padding: 0 max(10%, 20px) 0 max(10%, 20px);
    place-items: center;
    column-gap: 40px;
    row-gap: 40px;

    padding-bottom: 100px;
}

#create-group-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#create-group-href {
    margin-left: 6px;
    color: #0965c1;
}

#create-group-span {
    color: rgb(50 50 50);
    font-weight: 350;
}

#no-results-p {
    display: flex;
    justify-content: center;

    font-size: 20px;
    font-weight: 500;
    color: rgb(50 50 50);
}

.group {
    width: 100%;
    height: auto;
    background-color: white;

    border-radius: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);
}

.group-header, .group-subheader, .group-info {
    margin-left: 10%;
    margin-bottom: 5px;
}

.group-subheader {
    margin-top: 0px;
    margin-bottom: 10px;
    color: rgb(50 50 50);
}

.group-info {
    margin-top: 15px;
    color: rgb(140 140 140);
}

.show-group-btn:hover {
    cursor: pointer;
    background-color: #0a59a8;
}

.show-group-btn {
    float: right;

    color: white;
    background-color: #0965c1;
    border: 1px solid #0965c1;
    border-radius: 3px;

    width: 80px;
    height: 30px;
    
    margin: 10% 5% 5% 0;
}

.main-footer {
    background-color: rgba(130, 151, 215, 0.8);
    height: 150px;
    color: white;
    padding: 30px 20px;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
}

.footer-column {
    flex: 1 1 250px; 
    min-width: 200px; 
    padding: auto;
    margin: auto;
}

.footer-column h4 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-weight: 700;
}

.footer-column p, .footer-column a {
    font-size: 0.95rem;
    color:white;
    margin-bottom: 8px;
    display: block;
    transition: color 0.2s ease-in-out;
}

.footer-column a:hover {
    color: white;
}