#login_form {
    display: inline-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#login_form_container {
    display: flex;
    justify-content: center;

    border: 2px solid gray;
}
