body, html {
    height: 100%;
    margin: 0;

    /*nascondi scrollbar*/
    overflow: hidden;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

h1 {
    font-weight: 550;
    font-size: 26px;
}


label {
    font-weight: 500;
    font-size: 15px;
}




#login-form {
    background-color: white;

  
    text-align: left;

    padding: 35px 32px;

    border-radius: 5px;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);

    width: max(30%, 385px);
    max-width: 300px;
}

#login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#login-title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

#login-subtitle {
    margin-top: 0px;
    margin-bottom: 10%;
    text-align: left;

    font-size: 16px;
}

.form-btn:hover {
    cursor: pointer;
    background-color: #0a59a8;
}

.form-btn {
    width: 100%;
    line-height: 3em;
    border-radius: 20px;

    color: white;

    background-color: #0965c1;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.2);

    font-weight: 600;
    font-size: 14px;

    border: 0px;
}

#input-separator {
    margin-top: 15%;
}

#password-container {
    position: relative;
}

#toggle-password {
    position: absolute;

    right: 10px;
    bottom: 10%;

    margin-bottom: 16px;

    border: 0px;
    border-radius: 3px;
    background-color: transparent;
    color: #0965c1;

    font-weight: 700;
    font-size: 14px;
}

#toggle-password:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#register-container {
    margin-top: 20px;
    text-align: center;
}

.text-input {
    width: 95%;

    border: 1px solid #C0C0C0;
    border-radius: 3px;
    line-height: 32px;
    font-size: 16px;

    padding-left: 0.5em;

    margin-top: 4px;
    margin-bottom: 16px;
}
