/* --- GENERALI --- */
* {
    font-family: "Roboto", sans-serif;
    font-weight: 350;
    box-sizing: border-box; 
}

body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

/* --- CARD --- */
#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.register-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 36px 32px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* --- SOTTOTITOLI --- */
h1 {
    font-weight: 700;
    font-size: 28px;
    color: #222;
    margin: 0;
    text-align: left;
}

#register-subtitle {
    margin: 0 0 10% 0;
    text-align: left;
    font-size: 16px;
}

/* --- ELEMENTI FORM --- */
form p {
    margin: 0 0 16px 0;
    text-align: left;
    position: relative;
}

label {
    display: block;
    font-size: 0.9em;
    color: #222;
    margin-bottom: 6px;
    font-weight: 600;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding-left: 0.5em;
    line-height: 32px;
    font-size: 1em;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-weight: 350;
}

input:focus {
    outline: none;
    border-color: #0965c1;
}

#password {
    padding-right: 60px;
}

/* --- PULSANTI --- */
.btn {
    width: 100%;
    background: #0965c1;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 14px 20px;
    font-size: 14px;
    margin-top: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(9, 101, 193, 0.3);
}

.btn:hover {
    background: #0a59a8;
}

#toggle-password {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: transparent;
    border: none;
    color: #0965c1;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
}

#toggle-password:hover {
    color: #074e96;
    text-decoration: underline;
}

/* --- MESSAGGIO DI ERRORE --- */
.error-box {
    background: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}