* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350; 
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 30px 20px;
    box-sizing: border-box; 
}


.register-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 36px 32px; 
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    
    text-align: center; 
}

/* TITOLO E SOTTOTITOLO */
h1 {
    font-weight: 700; 
    font-size: 28px;
    color: #222;
    margin-top: 0;
    margin-bottom: 0px; 
    text-align: left;
}

#register-subtitle {
     margin-top: 0px;
    margin-bottom: 10%;
    text-align: left;

    font-size: 16px;
}

/* ELEMENTI DEL FORM  */
form p {
    margin: 0 0 16px 0;
    text-align: left;
    position: relative;
}

label {
    display: block;
    font-size: 0.9em;
    color: #222;
    margin-bottom: 6px;
    font-weight: 600; /
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding-left: 0.5em;
    line-height: 32px;
    font-size: 1em;
    border: 1px solid #b2b2b2;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Effetto carino al click */
}

/* Effetto focus quando clicchi nell'input */
input:focus {
    outline: none;
    border-color: #0965c1;
}

/* --- BOTTONE --- */
.btn {
    width: 100%;
    background-color: #0965c1;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 14px 20px;
    font-size: 14px;
    margin-top: 14px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(9, 101, 193, 0.3); 
}

.btn:hover {
    background-color: #0a59a8;
}

/* Già registrato? */
.login-link-container {
    margin-top: 20px;
    text-align: center; 
    font-size: 0.95em;
}


#password {
    padding-right: 60px; /* Evita che il testo scritto vada sotto il "mostra" */
}

/* Pulsante: mostra */
#toggle-password {
    position: absolute; /* Lo sgancia dal flusso normale */
    right: 10px;        
    bottom: 10px;       
    
    /* Grafica botone*/
    background: transparent;
    border: none;
    color: #0965c1;     
    font-weight: 700;   
    font-size: 14px;    
    cursor: pointer;
    padding: 0;
             
}

/* Effetto al passaggio del mouse */
#toggle-password:hover {
    color: #074e96;
    text-decoration: underline;
}
